body{
    background-image: url(BG.jpg);
}
@font-face{
    font-family: myFont;
    src: url(GreatVibes-Regular.ttf);
}
.name{
    font-family: myFont;
    font-size: 40px;
    margin: 15px;
    padding: 5px;
    margin-top: 5px;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}
#checkbtn{
    display: none;
    float: right;
    margin-right: 40px;
    line-height: 50px;
    font-size: 30px;
}
.menu{
    background-color: black;
    top: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 55px;
    color: white;
    list-style: none;
    border: 1px solid transparent;
}
.menu ul{
    float: right;
    margin-right: 60px;
}
a{
    text-decoration: none;
}
.menu ul ul li a{
    color: white;
}
.menu ul li{
    display: inline-block;
    line-height: 5px;
    width: 110px;
    margin: 1px;
    padding: 10px;
}
.menu ul li a{
    color: white;
}
.menu ul ul{
    background-image: url(ul-BG.jpg);
    position: absolute;
    display: none;
    top: 100%;
    padding: 0;
    box-shadow: 6px 10px 15px 7px black;
}
.menu ul ul li{
    height: 20px;
}
.menu ul ul li:hover{
    background-color: #800020;
    height: 20px;
    align-items: center;
}
.menu ul li:hover ul{
    display: inline;
}
.menu ul li:hover ul li{
    display: flex;
    margin: 10px;
    padding: 0;
}
.active, .menu ul li:hover{
    background: blue;
    border-radius: 5px;
}
.mobile-nav-icon{
    display: none;
}
.logo{
    border: 8px solid white;
    width: 160px; 
    height: 160px;
    margin: 0;
    padding: 0;
    position: static;
    float: left;
}
.Note #li1{
    background-color: #FFFDD0;
    width: 240px;
    position: static;
    margin-top: 5%;
}
.Note #li2{
    background-color: #FFFDD0;
    width: 40px;
    position: static;
    margin-top: 3%;
}
.Note #li3{
    background-color: #FFFDD0;
    width: 240px;
    position: static;
    margin-top: 3%;
}
.about{
    background-color: #063B70;
    color: white;
    height: 100%;
    font-size: 40px;
    margin-top: 3%;
}
@media screen and (max-width: 1040px){
    .menu ul{
        width: 110vw;
        height: 110vh;
        font-size: 20px;
        margin: 0;
        background-color: blue;
        position: fixed;
        top: 50px;
        left: -150%;
        transition: .5s;
    }
    .menu ul li{
        display: block;
        margin: 50px;
        padding: 20px;
        width: 60%;
        text-align: center;
    }
    .menu ul ul{
        position: static;
        width: 200px;
        clear: both;
    }
    .menu ul ul li{
        width: 200px;
    }
    #checkbtn{
        display: block;
    }
}
@media screen and (max-width: 950px){
    .name{
        font-size: 35px;
        padding: 20px;
    }
    .logo{
        margin: auto;
        margin-top: 20%;
        width: 300px;
        height: 300px;
        float: unset;
    }
    .Note #li1{
        font-size: 20px;
        width: 350px;
    }
    .Note #li2{
        font-size: 20px;
        width: 100px;
    }
    .Note #li3{
        font-size: 20px;
        width: 350px;
    }
    .about{
        max-width: 100%;
        text-align: center;
    }
}